<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <app-topnavbar>Loading...</app-topnavbar>
            <app-topnavbar2>Loading...</app-topnavbar2>
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-4">
            <img src="https://s.yimg.com/cv/ae/fantasy/img/nfl/felo_nfl_silver_mini@3x.png">
            <h3 style="font-family: Helvetica">Sample League Name</h3> 

            <hr style="border-top: 4px solid blue">

            <img src="https://s.yimg.com/cv/ae/fantasy/img/nfl/felo_nfl_silver_mini@3x.png">

            <h6 style="font-family: Helvetica; font-size: small">Congratulations Fantasy Champion!</h6>
            <h6 style="font-family: Helvetica">1ST PLACE [TEAM NAME]</h6>
            <h6 style="font-family: Helvetica; font-size: small">Manager: [Manager]</h6>

            <h4 style="font-family: Helvetica">Standings</h4>
            <hr>

            <h4 style="font-family: Helvetica">Implement dynamic nav bar to show Standings|Schedule|Playoffs|Ratings & Levels|All Time</h4>

        </div>
    </div>
</div>