<h4 style="font-family: Helvetica">Fantasy News</h4>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="expert-tab" data-bs-toggle="tab" data-bs-target="#expert" type="button"
      role="tab" aria-controls="expert" aria-selected="true">Expert News</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="player-tab" data-bs-toggle="tab" data-bs-target="#player" type="button" role="tab"
      aria-controls="player" aria-selected="false">Player Updates</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="injuries-tab" data-bs-toggle="tab" data-bs-target="#injuries" type="button" role="tab"
      aria-controls="injuries" aria-selected="false">Injuries</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="expert" role="tabpanel" aria-labelledby="expert-tab">
    <ul>
      <li><a href="#">What will it take for Burrow and Bengals to stay fantasy stars, return to Super Bowl?</a></li>
      <li><a href="#">Early 2022 draft rankings: Examining top fantasy QBs, RBs, WRs and TEs</a></li>
      <li><a href="#">Super Bowl Debrief: The year belonged to Cooper Kupp</a></li>
      <li><a href="#">Which secondary Bengals receiver should you trust in the Super Bowl?</a></li>
      <li><a href="#">Bold Super Bowl predictions: Supporting pass-catchers will play key roles</a></li>
      <li><a href="#">DFS tips for Rams and Bengals Super Bowl matchup</a></li>
      <li><a href="#">Super Bowl: Daily fantasy football expert lineup picks</a></li>
      <li><a style="font-size: x-small" href="#">View All Yahoo Sports Experts »</a></li>
    </ul>
  </div>
  <div class="tab-pane fade" id="player" role="tabpanel" aria-labelledby="player-tab">
    <ul>
      <li><a href="#">Eric Ebron (knee) medically cleared after surgery</a></li>
      <li><a href="#">Buzzed Aaron Donald at parade: Let's run it back!</a></li>
      <li><a href="#">Falcons release free-agent bust DE Dante Fowler</a></li>
      <li><a href="#">Seahawks sign RB Darwin Thompson</a></li>
      <li><a href="#">Report: Vikings and Bucs on Deshaun Watson's radar</a></li>
      <li><a href="#">Report: Peterson will not face felony DV charges</a></li>
      <li><a href="#">Beat: Carr could get $40MM annually on extension</a></li>
      <li><a style="font-size: x-small" href="#">View More Updates »</a></li>
    </ul>
  </div>
  <div class="tab-pane fade" id="injuries" role="tabpanel" aria-labelledby="injuries-tab">
    <ul>
      <li><a href="#">John Ursua</a><span> (Sea - WR) </span><span style="color:red">Q</span></li>
      <li><a href="#">Daniel Wise</a><span> (Was - DT) </span><span style="color:red">Q</span></li>
      <li><a href="#">Davion Davis</a><span> (Hou - WR) </span><span style="color:red">Q</span></li>
      <li><a href="#">Natrez Patrick</a><span> (Den - LB) </span><span style="color:red">Q</span></li>
      <li><a style="font-size: x-small" href="#">View More Injuries »</a></li>
    </ul>
  </div>
</div>