<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <app-topnavbar>Loading...</app-topnavbar>
            <app-topnavbar2>Loading...</app-topnavbar2>
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-4">
            <h3 style="font-family: Helvetica">Fantasy Football 2021</h3>
            <hr style="border-top: 4px solid blue">

            <h5 style="font-family: Helvetica">The 2021 Season is now over. Thanks for playing!</h5>
            <hr>

            <img width=100% style="object-fit: scaledown"
                src="https://s.yimg.com/cv/apiv2/fantasy/promo/Fantasy_Game_League_Home_1300x15_V2@2x.jpg">

            <h4 style="font-family: Helvetica">My Teams and Leagues *Not Implemented*</h4>
                <img width=100% style="object-fit: scaledown"
                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=1200:*">
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                
                <h4 style="font-family: Helvetica">League Trophies</h4>
                <hr>
                <img width=100% style="object-fit: scaledown"
                src="https://s.yimg.com/cv/apiv2/fantasy/nfl/trophy_promo_2021.jpg">

                <h4 style="font-family: Helvetica">Fantasy Podcast</h4>
                <hr>
                <img width=100% style="object-fit: scaledown"
                src="https://s.yimg.com/cv/apiv2/fantasy/podcast/YS_FF_FantasyForecast_Banners_v2_082620.jpg">

                <h4 style="font-family: Helvetica">Yahoo Fantasy Shop</h4>
                <hr>
                <img width=100% style="object-fit: scaledown"
                src="https://s.yimg.com/cv/apiv2/fantasy/promos/shop-banner-nfl@2x.jpg">
            </div>
            <div class="col-4">
                <app-fantasynews>Loading...</app-fantasynews>

                <img width=50% style="object-fit: scale-down"
                src="https://s.yimg.com/bx/adb/20220106193332182.jpg">

                <h4 style="font-family: Helvetica">Important Game Dates</h4>
            </div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-4">
                

                

            </div>
        </div>
    </div>
</div>