<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Yahoo Fantasy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Football '21
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./football21">Overview</a></li>
              <li><a class="dropdown-item" href="#">Leaders</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Mobile</a></li>
              <li><a class="dropdown-item" href="#">Prize Leagues</a></li>
              <li><a class="dropdown-item" href="#">Wallet</a></li>
              <li><a class="dropdown-item" href="#">Podcast</a></li>
              <li><a class="dropdown-item" href="#">Fantasy Football Live</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              League
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./league">Overview</a></li>
              <li><a class="dropdown-item" href="#">Message Board</a></li>
              <li><a class="dropdown-item" href="#">Email League</a></li>
              <li><a class="dropdown-item" href="#">Managers</a></li>
              <li><a class="dropdown-item" href="#">Rosters</a></li>
              <li><a class="dropdown-item" href="#">Transactions</a></li>
              <li><a class="dropdown-item" href="#">Trading Block</a></li>
              <li><a class="dropdown-item" href="#">Record Book</a></li>
              <li><a class="dropdown-item" href="#">Dues</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              My Team
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./my-team">Roster</a></li>
              <li><a class="dropdown-item" href="#">Player Updates</a></li>
              <li><a class="dropdown-item" href="#">Watch List</a></li>
              <li><a class="dropdown-item" href="#">Team Log</a></li>
              <li><a class="dropdown-item" href="#">Edit Team Info</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./matchups">Matchups</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Players
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./players">Player List</a></li>
              <li><a class="dropdown-item" href="#">League Leaders</a></li>
              <li><a class="dropdown-item" href="#">Injury Reports</a></li>
              <li><a class="dropdown-item" href="#">Player Props</a></li>
              <li><a class="dropdown-item" href="#">NFL Roster Changes</a></li>
              <li><a class="dropdown-item" href="#">Can't Cut List</a></li>
              <li><a class="dropdown-item" href="#">Stat Corrections</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Research
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Overview</a></li>
              <li><a class="dropdown-item" href="#">Trade Hub</a></li>
              <li><a class="dropdown-item" href="#">Research Assistant</a></li>
              <li><a class="dropdown-item" href="#">Transaction Trends</a></li>
              <li><a class="dropdown-item" href="#">Trade Market</a></li>
              <li><a class="dropdown-item" href="#">Who's Hot</a></li>
              <li><a class="dropdown-item" href="#">Matchup Ratings</a></li>
              <li><a class="dropdown-item" href="#">MVPs</a></li>
              <li><a class="dropdown-item" href="#">Fantasy Points Against</a></li>
              <li><a class="dropdown-item" href="#">Weather</a></li>
              <li><a class="dropdown-item" href="#">Consensus Ranks</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Draft
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./draft">Overview</a></li>
              <li><a class="dropdown-item" href="#">Mock Drafts</a></li>
              <li><a class="dropdown-item" href="#">Draft Results</a></li>
              <li><a class="dropdown-item" href="#">Draft Kit</a></li>
              <li><a class="dropdown-item" href="#">Cheat Sheets</a></li>
              <li><a class="dropdown-item" href="#">Draft Grades</a></li>
              <li><a class="dropdown-item" href="#">Draft Analysis</a></li>
              <li><a class="dropdown-item" href="#">Pre-Draft Rankings</a></li>
              <li><a class="dropdown-item" href="#">Draft Picks</a></li>
              <li><a class="dropdown-item" href="#">Mock Draft Report Card</a></li>
              <li><a class="dropdown-item" href="#">Last Season</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">StatTracker</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Fantasy Shop
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Baseball</a></li>
              <li><a class="dropdown-item" href="#">Basketball</a></li>
              <li><a class="dropdown-item" href="#">Football</a></li>
              <li><a class="dropdown-item" href="#">Hockey</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Plus y+
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Manage Subscriptions</a></li>
              <li><a class="dropdown-item" href="#">Learn More</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>