<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Leaders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mobile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Prize Leagues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Wallet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Podcast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Fantasy Football Live</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>