<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <app-topnavbar>Loading...</app-topnavbar>
            <app-topnavbar2>Loading...</app-topnavbar2>
            <h5 style="font-family: Helvetica; text-align: center;">Week 18: Jan 4 - Jan 9</h5>
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-3">
            <img src="https://s.yimg.com/cv/ae/fantasy/img/nfl/felo_nfl_silver_mini@3x.png">
            <h5 style="font-family: Helvetica; text-align: center">My Team Name</h5> 
        </div>

        <div class="col-2">
            <h4 style="font-family: Helvetica; text-align: center">100.00   <span style="font-size: small">Points</span>   100.00</h4>
            <h6 style="font-family: Helvetica; color: gray; text-align: center">90.00   <span style="font-size: small">Orig Proj</span>   90.00</h6>
        </div>

        <div class="col-3">
            <img src="https://s.yimg.com/cv/ae/fantasy/img/nfl/felo_nfl_silver_mini@3x.png">
            <h5 style="font-family: Helvetica; text-align: center">Mr. Opponent's Team Name</h5> 
        </div>

        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-8">
            <h4 style="font-family: Helvetica; text-align: center;">Implement Progress Bar to show live projections/winner</h4>
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-4">
            <h4 style="font-family: Helvetica">Implement list group of players on My Team</h4>
        </div>
        <div class="col-4">
            <h4 style="font-family: Helvetica">Implement list group of players on Mr. Opponent's Team</h4>
        </div>
    </div>
</div>